div.row
	h3.instructions Game Builder
	h3.forprint Game Roster
	p.instructions Drag and drop players and positions to get things organized. We've given you one inning to start, but add all you like. 
div.row
	button.btn.btn-success(ng-click="addInning()") Add Inning
.row.gamegrid
	.col-sm-3
		.tools &nbsp;
		ul.nopad(ng-model="players",ui-sortable)
			li.list-unstyled.draggable-item(ng-repeat="p in players") {{p.name}}
				a.delete(ng-click="removePlayer($index)",title="Remove") x
	.col-sm-1(ng-repeat="i in innings")
		.tools 
			a.fa.fa-random(ng-click="shuffle($index)",title="Shuffle")
			| &nbsp;
			a.fa.fa-arrow-circle-down(ng-click="shift($index)",title="Shift by one")
		ul.nopad(ng-model="i.positions",ui-sortable)
			li.list-unstyled.draggable-item(ng-repeat="p in i.positions") {{p.abbr}}
.row
	h4 Not Playing
	ul
		li.list-inline(ng-repeat="p in absent") {{ p.name }}
			a(ng-click="restorePlayer($index)") (Restore)