h3 Players
p Add players by name in the field provided. To edit a player, just click their name.
table.table
	thead
	th Index
	th Name
	tbody(ui-sortable, ng-model="players")
		tr(ng-repeat="p in players")
			td {{$index + 1}}
			td
				span(ng-click="editPlayer($index)",ng-show="editIndex != $index") {{p.name}}
				div(ng-show="editIndex == $index")
					input(type="text",ng-model="p.name")
					&nbsp;
					button.btn.btn-success.btn-xs(ng-click="finishEdit()") Save
				
	tfoot
		tr
			td &nbsp;
			td 
				input(type="text",ng-model="newPlayer") 
				&nbsp;
				button.btn.btn-primary.btn-sm(ng-click="addPlayer()") Add